<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="imageSlider.js"></script>
	<style>
		*{
			margin: 0px;
			padding: 0px;
		}
		body,html{
			height: 100%;
		}
	</style>
</head>
<body ng-app="app" ng-controller="ctrl" style="background: url({{bg}}); background-repeat: no-repeat;background-size: 100% 100%;">
<br><br><br><br><br><br><br>

<table>
	<tr>
		<td style="text-align: center">
			<img ng-src="{{leftButton}}" width="25%" height="" alt="" ng-click="leftArrow()">
		</td>
		<td style="text-align: center">
			<img ng-src="{{slides[i]}}" width="75%" height="" alt="" style="border: 5px outset #5b5b5b;">
		</td>
		<td style="text-align: center">
			<img ng-src="{{rightButton}}" width="25%" height="" alt="" ng-click="rightArrow()">
		</td>
	</tr>
</table>
</body>
</html>